@import "tailwindcss";

// твои тавилд темы
@theme {
  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: #2a2a2a;
  --color-bg-card: #2f2f2f;
  --color-accent: #f0c040;
  --color-accent-hover: #d9ad38;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a0a0a0;
  --color-text-muted: #6b6b6b;
  --color-icon-primary: #ffffff;
  --color-icon-dark: #1a1a1a;
  --width-app: 430px;
}


