@layer components {
  .ticket {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
    display: grid;
  }

  :where(.priceRow > :not(:last-child)) {
    margin-inline: 0 1.25rem;
  }

  .price {
    color: var(--color-bg-textholder-area);
    font-weight: 700;
  }

  .muted {
    color: var(--color-text-muted);
  }

  .metadata {
    grid-column: span 2 / span 2;
  }

  :where(.metadata > :not(:last-child)) {
    margin-inline: 0 1.25rem;
  }

  .duration {
    color: var(--color-text-muted);
    font-size: .875rem;
    font-weight: 600;
    line-height: var(--line-height-sm);
  }
}
